<!DOCTYPE html>
<html lang="en">
<body>
    <header>
        <h1>Sobre nosotros</h1>
    </header>
    <div class="container">
        <img src='\assets\gifs\fun.gif' alt="Pet Rocks Image">
        <div class="text">
            <p>Somos una tienda especializada en la venta de mascotas piedra, las mascotas más inusuales y divertidas que puedas encontrar. Desde nuestro lanzamiento ayer, nos hemos dedicado a proporcionar a nuestros clientes las rocas más encantadoras y amigables que puedan acompañarlos en su día a día.</p>
            <p>Nuestro objetivo es llevar alegría y sonrisas a nuestros clientes a través de nuestras adorables y peculiares mascotas de piedra. Cada piedra que vendemos está cuidadosamente seleccionada y empaquetada con amor para garantizar que lleguen a sus nuevos hogares listos para ser amados y cuidados.</p>
            <p>¡Gracias por visitar nuestra tienda y por considerar darle un hogar a una de nuestras adorables piedras!</p>
        </div>
    </div>
</body>
</html>

